.entrance {
    display: flex;
    flex-direction: column;

    height: 100vh;
    background: url("../../img/b-1.png") no-repeat center left, url("../../img/b-5.png") no-repeat bottom right/contain;
    .footer {
        margin-bottom: 12px;
    }
}
