.footer {
    background: #616160;
    padding-top: 25px;
    padding-bottom: 28px;
    margin-bottom: 12px;
    margin-top: auto;
}

.footer__wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 21px;

    color: #ffffff;
}
.footer__wrapp-link {
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 21px;

    color: #ffffff;
    padding-left: 10px;
}
