.header {
    padding-top: 19px;
    padding-bottom: 18px;
    border-bottom: 1px solid #bcbcbb;
    box-shadow: 0 0 30px #bcbcbb;
    background: #fff;
}
.header__wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-return {
    position: relative;
    &::before {
        content: url("../../assets/img/return.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-34%);
        left: -30px;
    }
}
