<div class="menu">
    <div class="menu-title">
        Parcourir par thèmes
    </div>
    <nav class="menu__nav">
        <ul class="menu__list">
            <li class="menu__list-inner">
                <a class="menu__list-link" href="#">
                    Anniversaire
                </a>
            </li>
            <li class="menu__list-inner">
                <a class="menu__list-link" href="#">
                    Mariage
                </a>
            </li>
            <li class="menu__list-inner">
                <a class="menu__list-link" href="#">
                    After Work
                </a>
            </li>
            <li class="menu__list-inner">
                <a class="menu__list-link" href="#">
                    Halloween
                </a>
            </li>
            <li class="menu__list-inner">
                <a class="menu__list-link" href="#">
                    Noël
                </a>
            </li>
            <li class="menu__list-inner">
                <a class="menu__list-link" href="#">
                    Fête
                </a>
            </li>
            <li class="menu__list-inner">
                <a class="menu__list-link" href="#">
                    Enfant
                </a>
            </li>
            <li class="menu__list-inner">
                <a class="menu__list-link" href="#">
                    Inauguration
                </a>
            </li>
        </ul>
    </nav>
</div>