@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/nouislider.min.scss";

* {
    box-sizing: border-box;
    font-family: "PP Telegraf";
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.container {
    width: 100%;
}

@import "../sass/blocks/header.scss";
@import "../sass/blocks/entrance.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/entrance__form.scss";
@import "../sass/blocks/box.scss";
@import "../sass/blocks/menu.scss";
@import "../sass/blocks/popup.scss";
@import "../sass/blocks/card.scss";
@import "../sass/blocks/creation.scss";
@import "../sass/blocks/creation__popup-title.scss";
